/* основний колір text #212121 */
/* вторинний колір text #757575 */
/* білий #FFFFFF */
/* акцент#2196F3 */
/* лого 000000 */
/* основний фон F5F5F5; */
/* вторинний фон F5F4FA */

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
}
/* основна сторінка */
body {
  background-color: #f5f5f5;
  color: #757575;
}

.logo:hover {
  color: #2196f3;
}
/* site nav */

ul {
  list-style: none;
}

.site-nav .link-nav {
  color: #757575;
}

.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: #2196f3;
}

.site-nav .link-nav.current {
  color: #2196f3;
}

.auth-nav .link-auth {
  color: #757575;
}

.auth-nav .link-auth:hover,
.auth-nav .link-auth:focus {
  color: #2196f3;
}

/* hero */

.hero-tittle {
  color: #ffffff;
}

/* section */
.section-tittle {
  color: #212121;
}

/* advantage */

.advantage .tittle {
  color: #212121;
}

/* team */
.team-tittle {
  color: #212121;
}

/* button */

.hero .button {
  background-color: #2196f3;
  color: #ffffff;
  width: 216px;
  height: 50px;
}

.hero .button:hover,
.hero .button:focus{
  color: #188ce8;
}
/* сторінка портфоліо */

/* portfolio nav */

.logo:hover {
  color: #2196f3;
}
.portfolio-nav .portfolio-link {
  color: #757575;
}

.portfolio-nav .portfolio-link:hover,
.portfolio-nav .portfolio-link:focus {
  color: #2196f3;
}

.portfolio-auth .portfolio-case {
  color: #757575;
}

.portfolio-auth .portfolio-case:hover,
.portfolio-auth .portfolio-case:focus {
  color: #2196f3;
}

.portfolio-nav .portfolio-link.current{
  color: #2196f3
}
/* button */
.button {
  
}

.button-primary {
  background-color: #2196f3;
  color: #ffffff;
}

.button-primary:hover,
.button-primary:focus{
  color: #188ce8;
}

.button-secondary{
   background-color:#F5F4FA;
   color: #212121;
}
.button-secondary:hover,
.button-secondary:focus {
  color: #2196f3;;
}