/* основний колір text #212121 */
/* вторинний колір text #757575 */
/* білий #FFFFFF */
/* акцент#2196F3 */
/* лого 000000 */
/* основний фон F5F5F5; */
/* вторинний фон F5F4FA */
body{
    background-color: #F5F5F5;
    color:#757575 ;
}


ul{
   list-style: none;
}